<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="inetbanking_v1">

	<listeners>
		<listener class-name="com.inetbanking_v1.utilities.Reporting"/>
	</listeners>

  <test name ="Banking Test" thread-count="5">
  	<parameter name="Browser" value="chrome"></parameter>
    <classes>
    <class name="com.inetbanking_v1.Testcases.TC_LoginTest_01"/>  
     <class name="com.inetbanking_v1.Testcases.TC_LoginDD_02"/>
      <!--  <class name="com.inetbanking_v1.Testcases.TC_AddNewCustomer_03"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
